@import '../../../styles';

.music-quote-container {
  padding: 40px 0;
  width: 100%;
  text-align: center;
  color: $pws-eggshell;

  .music-quote-quote {
    display: flex;
    justify-content: center;

    .quote-icon {
      font-size: 2rem;
      align-self: flex-start;
    }

    .quote-text {
      font-size: 2.8rem;
      margin: 10px;
      font-style: italic;
    }
  }

  .music-quote-author {
    font-size: 2.4rem;
    padding-left: 25%;
    margin: 30px;
  }
}