@import '../../../styles.scss';

.professional-experience-wrapper {
  margin: 25px;

  .title-image {
    height: 75px;
    width: auto;
  }

  .title {
    cursor: pointer;
    border: solid 1px $website-main-dark;
    border-radius: 15px;
    color: $website-main-dark;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    @include animation-browsers;
    transition: .5s;

    &:hover {
      background-color: lighten( $website-main-light, 10% );

      @include animation-browsers;
      transition: .5s;
    }

    .title-text-wrapper {
      flex: 0 1 auto;

      .title-text {
        font-size: 125%;
        font-weight: bold;
      }

      .title-date {
        font-style: italic;
        font-size: 90%;
      }

      .company-text {
        font-size: 110%;
      }
    }

    .title-image-wrapper {
      flex: 0 1 auto;
      align-self: center;

      .title-image {
        opacity: 0.7;
        width: 250px;
        height: auto;
      }
    }
  }

  .responsibilities-wrapper {

  }
}
