<div class="professional-experience-wrapper">
  <div class="title" (click)="openDetails = !openDetails">
    <div class="title-text-wrapper">
      <div class="title-text">
        {{experienceData.title}}
      </div>
      <div class="title-date">
        {{experienceData.startDate}} - {{experienceData.endDate}}
      </div>
      <br />
      <div class="company-text">
        {{experienceData.company}}
      </div>
    </div>
    <div class="title-image-wrapper">
      <img class="title-image" [src]="experienceData.image" />
    </div>
  </div>
  <div class="advanced-details" *ngIf="openDetails">
    <div class="responsibilities-wrapper">
      <div class="responsibility-title">
        Responsibilities
      </div>
      <div class="responsibilities" *ngFor="let responsibility of experienceData.responsibilities">
        {{responsibility}}
      </div>
    </div>
    <div class="technologies-wrapper" *ngIf="experienceData.technologies && experienceData.technologies.length > 0">
      <div class="technology-title">
        Tech
      </div>
      <div class="technologies" *ngFor="let tech of experienceData.technologies">
        {{tech}}
      </div>
    </div>
  </div>
</div>
