@import '../../../styles';

.project-navbar-container {
  height: 100%;
  background-color: $website-main-light;

  .project-tabs {
    display: flex;
    flex-direction: column;

    .project-tab-container {

      .active-tab {
        background-color: $website-main-dark;
        color: $website-white !important;
      }

      .project-tab {
        text-align: center;
        align-self: center;
        font-size: 1.6rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        cursor: pointer;
        color: $website-main-dark;
      }

      .tab-separator {
        border: solid 3px $website-main-medium;
        width: 80%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
