<div class="resume-wrapper" *ngIf="resume">
  <div class="resume-jumbotron-wrapper">
    <resume-jumbotron [contactInformation]="resume.contactInformation"></resume-jumbotron>
  </div>
  <!--<div class="resume-options">-->
    <!--<a href="{{resumeLocation}}" download>-->
      <!--<button class="pws-button">Download PDF</button>-->
    <!--</a>-->
  <!--</div>-->
  <div class="experience-wrapper">
    <experience-container [experienceCategories]="resumeCategories" [experiences]="resumeObjects"></experience-container>
  </div>
</div>