<div class="about-me-wrapper" *ngIf="autobiography">
  <div class="photo-carousel-wrapper">
    <photo-carousel [photos]="autobiography.photos"></photo-carousel>
  </div>
  <div class="biography-wrapper">
    <div class="biography-text">
      {{autobiography.biography}}
    </div>
  </div>
  <div class="origin-story-wrapper">
    <div class="origin-title">
      My Computer Science Origin Story
    </div>
    <div class="origin-story-body">
      <p class="origin-story-text">
        {{autobiography.originStory}}
      </p>
      <div class="origin-story-pic">
        <img src="../../assets/nc-state-pic/ncstate-wolf.png" width="200px" />
      </div>
    </div>
  </div>
  <div class="hobbies-wrapper">
    <div class="hobbies-title">
      Hobbies
    </div>
    <div class="hobbies-wordcloud">
      <div class="hobby" *ngFor="let hobby of autobiography.hobbies">
        {{hobby}}
      </div>
    </div>
  </div>
</div>