/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');

$pws-summer-sky: #286DA8;
$pws-warm-peach: #CD5360;
$pws-field: #837D4E;
$pws-breeze: #438496;

$website-main-light: #D4A59A;
$website-main-medium: #BC4639;
$website-main-dark: #5C2018;
$website-accent: #4285F4;
$website-white: #F3E0DC;

@mixin animation-browsers {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

body {
  font-family: 'Crimson Text', serif;
  margin: 0;
  height: 100vh;
}
