/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Signika');

$pws-navy-blue: #0F1626;
$pws-leather: #AB987A;
$pws-coral: #FF533D;
$pws-eggshell: #F5F5F5;

$website-main-light: #D4A59A;
$website-main-medium: #BC4639;
$website-main-dark: #5C2018;
$website-accent: #4285F4;
$website-white: #F3E0DC;

@mixin animation-browsers {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

body {
  font-family: 'Signika', serif;
  margin: 0;
  height: 100vh;
  background-color: $pws-eggshell;
}

.pws-button {
  text-decoration: none;
  color: $pws-eggshell;
  background-color: $pws-coral;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  font-size: 1.8rem;
  box-shadow: 0 3px grey;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: darken($pws-coral, 10%);
  }
}
