@import './variables.scss';

body {
    margin: 0 !important;
    background-color: $medium-grey;
}

.app-wrapper {
    font-family: 'PT Sans', sans-serif;
    width: 100vw;
    height: 100vh;

    .router-wrapper {
        height: 100%;
        width: 100%;

        &-with-navbar {
            height: calc(100% - 72px);
        }
    }
}

@import '../homepage/homepage.scss';
@import '../resume/resume.scss';
@import '../projects/projects.scss';
@import '../components/components.scss';
@import '../about-me/about-me.scss';
