.homepage-wrapper {
    background-image: url('../assets/raleigh_skyline.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

    .name-wrapper {
        background-color: purple;
        color: white;
    }
}
