.jumbotron {
    height: 250px;
    color: black;
    text-align: center;
    text-shadow: #444 0 1px 1px;
    background-image: url('../resources/images/mountainview.gif');
    background-size: cover;
    background-position: 0px -50px;
    margin: 0;
}