/**
 * Fonts
 */
@font-face {
  font-family: BalooPaaji;
  src: url(https://fonts.gstatic.com/s/baloopaaji/v1/zcOxsgjL4TWgCkkTN4pnQYgp9Q8gbYrhqGlRav_IXfk.woff2);
}

@font-face {
  font-family: Amatic;
  src: url(https://fonts.gstatic.com/s/amaticsc/v8/DPPfSFKxRTXvae2bKDzp5JBw1xU1rKptJj_0jans920.woff2);
}

/**
 * Top Navbar
 */
body {
  margin: 0px;

  .navigation {
    font-family: BalooPaaji;
    font-size: 3vh;
    background-color: #CC0000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 5vh;
  }
}
