@import '../../../styles';

.project-navbar-container {
  height: 100%;
  background-color: $pws-leather;

  .project-tabs {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;

    .project-tab-container {

      .project-tab {
        text-align: center;
        align-self: center;
        font-size: 1.8rem;
        font-weight: bold;
        padding-top: 2vh;
        padding-bottom: 2vh;
        //margin-top: 2vh;
        //margin-bottom: 2vh;
        cursor: pointer;
        color: $pws-navy-blue;

        &.active-tab {
          background-color: $pws-eggshell;
          color: $pws-coral !important;
        }
      }

      .tab-separator {
        border: solid 1px $pws-navy-blue;
        width: 80%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
