@import '../../styles';

.resume-wrapper {
  background-color: $website-white;
  padding: 10px;

  .experience-container {
    display: flex;

    .experience-label {
      align-self: center;
      width: 30%;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      color: $website-main-medium;

      .experience-label-bar {
        border: solid 2px $website-main-medium;
        width: 30%;
      }
    }

    .experience-list-wrapper {
      width: 70%;
    }
  }

  .experience-container-separator {
    width: 70%;
    border: solid 2px $website-main-medium;
  }
}