/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Acme|Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

$ncsu-red: #CC0000;

body {
    font-family: 'Vollkorn SC', serif;
    margin: 0;
}
