/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Acme|Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

$nature-green: #687864;
$nature-dark-blue: #31708E;
$nature-blue: #5085A5;
$nature-light-blue: #8FC1E3;
$nature-white: #F7F9Fb;

body {
  font-family: 'Vollkorn SC', serif;
  margin: 0;
  height: 100vh;
}
