@import '../../styles';

.homepage-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
  background: url('../../assets/homepage-pic/raleigh.jpg') no-repeat;
  background-size: 100vw 100vh;

  .title-container {
    background-color: $pws-navy-blue;
    color: $pws-eggshell;
    font-size: 6rem;
    text-align: center;
    width: 500px;
    margin-top: 175px;
    margin-left: 100px;
    padding: 20px;
  }
}